<div class="content mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucesso">
                    {{message}}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="erro">
                    {{message}}
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cadastro de Usuarios</h4>
                    </div>
                    <div class="card-body">
                        <form #publicadoraForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Nome Completo</label>
                                        <input type="text" class="form-control" placeholder="" name="nome"
                                            [(ngModel)]="usuario.nome">
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Nome de Usuario</label>
                                        <input type="text" class="form-control" placeholder="" name="usuario"
                                            [(ngModel)]="usuario.usuario">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-3">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="" name="email"
                                            [(ngModel)]="usuario.email">
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input type="password" class="form-control" placeholder="" name="password"
                                            [(ngModel)]="usuario.password">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-fill pull-right">{{botao ? "Atualizar" :
                                "Salvar"}}</button>
                            <button type="submit" class="btn btn-warning btn-fill pull-right mr-2"
                                *ngIf="botao" (click)="cancelarAtualizacao()">Cancelar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-box">
                    <div class="card-header">
                        <h4 class="card-title">Listagem de Usuarios</h4>
                        <p class="card-category card-subtitle">Lista de todos os usuarios</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Nome Completo</th>
                                <th>Nome de Usuario</th>
                                <th>Email do Usuario</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios">
                                    <td>{{usuario.id}}</td>
                                    <td>{{usuario.nome}}</td>
                                    <td>{{usuario.usuario}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                            (click)="deletarUsuario(usuario.id)">Deletar</button>
                                        <button type="button" class="btn btn-primary ml-3"
                                            (click)="atualizarUsuario(usuario.id)">Atualizar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>