.table-box {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
}
.card-header {
    background-color: white !important;
}
.card-subtitle {
    color: #aaa;
}