<div class="content mt-4">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="sucesso">
                {{message}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="erro">
                {{message}}
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Cadastro de Livro</h4>
                </div>
                <div class="card-body">
                    <form #publicadoraForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Nome do Livro</label>
                                    <input type="text" class="form-control" placeholder="" name="nome"
                                        [(ngModel)]="livro.nome">
                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Selecione uma Publicadora</label>
                                    <select class="form-control"
                                        [(ngModel)]="livro.publicadora" name="publicadora">
                                        <option *ngFor="let pub of publicadoras" [ngValue]="pub">{{pub.nome}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 pl-3">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Selecione um Autor</label>
                                    <select class="form-control"
                                        [(ngModel)]="id" name="autor">
                                        <option *ngFor="let autor of autores" [ngValue]="autor.id">{{autor.nome}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-fill pull-right">{{botao ? "Atualizar" :
                            "Salvar"}}</button>
                        <button type="submit" class="btn btn-warning btn-fill pull-right mr-2" *ngIf="botao"
                            (click)="cancelarAtualizacao()">Cancelar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-box">
                    <div class="card-header">
                        <h4 class="card-title">Listagem de Livros</h4>
                        <p class="card-category card-subtitle">Lista muitos para muitos de livros</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Nome do Livro</th>
                                <th>Publicadora</th>
                                <th>Autor</th>
                                <th>Data de Entrada</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let livro of livros; let i = index">
                                    <td>{{livro.id}}</td>
                                    <td>{{livro.nome}}</td>
                                    <td>{{livro.publicadora.nome}}</td>
                                    <td *ngFor="let a of livro.autors">{{a.nome}}</td>
                                    <td>{{livro.dataEntrada}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                            (click)="deletarLivro(livro.id)">Deletar</button>
                                        <button type="button" class="btn btn-primary ml-3"
                                            (click)="atualizarLivro(livro.id)">Atualizar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>