<footer class="footer">
    <div class="container-fluid">
        <nav>
            <p class="copyright text-center">
                <script>
                    document.write(new Date().getFullYear())
                </script>
                <a href="https://app-kushinier.herokuapp.com/">Por Andre Luiz Kuczner Pereira</a>
            </p>
        </nav>
    </div>
</footer>