<div class="content mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucesso">
                    {{message}}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="erro">
                    {{message}}
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Cadastro de Publicadora</h4>
                    </div>
                    <div class="card-body">
                        <form #publicadoraForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <label>Nome da Publicadora</label>
                                        <input type="text" class="form-control" placeholder="" name="nome"
                                            [(ngModel)]="publicadora.nome">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-fill pull-right">{{botao ? "Atualizar" :
                                "Salvar"}}</button>
                            <button type="submit" class="btn btn-warning btn-fill pull-right mr-2"
                                *ngIf="botao" (click)="cancelarAtualizacao()">Cancelar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-box">
                    <div class="card-header">
                        <h4 class="card-title">Listagem de Publicadoras</h4>
                        <p class="card-category card-subtitle">Lista de todas as publicadoras</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Nome da Publicadora</th>
                                <th>Data de Registro</th>
                                <th>Ações</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pub of publicadoras">
                                    <td>{{pub.id}}</td>
                                    <td>{{pub.nome}}</td>
                                    <td>{{pub.dataRegistro}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                            (click)="deletarPublicadora(pub.id)">Deletar</button>
                                        <button type="button" class="btn btn-primary ml-3"
                                            (click)="atualizarPublicadora(pub.id)">Atualizar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>