<div class="sidebar" data-color="blue">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="" class="simple-text">
                Livraria Restfull
            </a>
        </div>
        <ul class="nav">
            <li>
                <a class="nav-link" href="">
                    <i class="nc-icon nc-grid-45"></i>
                    <p>home</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="livro">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>livros</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="publicadora">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>publicadora</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="autor">
                    <i class="nc-icon nc-notes"></i>
                    <p>autor</p>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="usuario">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>usuarios</p>
                </a>
            </li>
        </ul>
    </div>
</div>