<div class="content mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header">
                        <h4 class="card-title">Livraria RestFull</h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <h4 class="card-category card-header">
                            #Aplicação feita em Angular, Springboot e Postgresql para amostragem de conhecimento.
                        </h4>
                        <p class="card-category card-header">
                            #Lado front-end para consumo da api e visualização de dados.
                        </p>
                        <p class="card-category card-header">
                            #Lado backend em Springboot com a configuração de microserviços para cada end-point.
                        </p>
                        <p class="card-category card-header">
                            #Recursos usados na aplicação lado front-end:
                            <br> - Angular
                            <br> - Bootstrap 
                            <br> - Jquery (Nativo do Thema)                           
                        </p>
                        <p class="card-category card-header">
                            #Recursos usados na aplicação lado backend:
                            <br> - Springboot
                            <br> - Lombok
                            <br> - JPA
                            <br> - Hibernate
                        </p>
                        <p class="card-category card-header">
                            #Recursos usados na aplicação para Database:
                            <br> - Postgresql
                        </p>
                        <p class="card-category card-header">
                            #Orientação de uso:
                            <br> - Lado front-end dentro da pasta utilizar o comando "npm install"
                            <br> - Apos instalção dos modulos utilizar o comando "ng build" para gerar a aplicação lado servidor.
                            <br> - Iniciar o servidor dentro da pasta livraria e acessar o endereço: http://localhost:8080/
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>